{% extends 'base.html' %}
{% load static %}
{% block content %}


{% comment %} <div class="container">
  <div class="row">
    <div class="chartCard col-lg-12 col-md-12 col-sm-12">
        <div class="card  chartBox mx-2">
            <canvas id="myChart"></canvas>
        </div>
        <div  class="card  chartBox">
            <canvas id="myChart2"></canvas>
        </div>
        <div  class="card  chartBox mx-2">
            <canvas id="myChart3"></canvas>
        </div>
    </div>
  </div>
</div> {% endcomment %}

<div class="container">
  <div class="row">
    <div class="grapics-card mb-2 mx-auto col-xl-10 col-xxl-4 col-md-8 col-lg-8 col-sm-12 col-12">
      <div class="card shadow-2-strong">
        <div class="card-body">
            <p class="text-uppercase mb-2"><strong>Quantidade de Interesses</strong></p>
            <hr />
            <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>

    <div class="grapics-card mb-2 mx-auto col-xl-10 col-xxl-4 col-md-8 col-lg-8 col-sm-12 col-12">
      <div class="card shadow-2-strong" >
        <div class="card-body">
            <p class="text-uppercase mb-2"><strong>Quantidade de vagas</strong></p>
            <hr />
            <div class="d-flex justify-content-center">
              <h1 >{{ data.vagas }}</h1>
            </div>
            {% comment %} <canvas id="myChart2"></canvas> {% endcomment %}
        </div>
      </div>
    </div>

    <div class="grapics-card mb-2 mx-auto col-xl-10 col-xxl-4 col-md-8 col-lg-8 col-sm-12 col-12">
      <div class="card shadow-2-strong">
        <div class="card-body">
            <p class="text-uppercase mb-2"><strong>Periodo dos alunos</strong></p>
            <hr />
            <canvas id="myChart3"></canvas>
        </div>
      </div>
    </div>
    
    <div class="grapics-card mb-2 mx-auto col-xl-10 col-xxl-4 col-md-8 col-lg-8 col-sm-12 col-12">
      <div class="card shadow-2-strong">
        <div class="card-body">
          <p class="text-uppercase mb-2"><strong>Médias gerais</strong></p>
          <hr />
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">CRA</th>
                  <th scope="col">IP</th>
                  <th scope="col">POO</th>
                  <th scope="col">LPP</th>
                  <th scope="col">Alg</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ data.cra_average|safe }}</td>
                  <td>{{ data.ip_average|safe }}</td>

                  {% if data.poo_average == 0 %}
                    <td>NDA</td>
                  {% else %}
                    <td>{{ data.poo_average|safe }}</td>
                  {% endif %}

                  {% if data.nota_linguagem == 0 %}
                    <td>NDA</td>
                  {% else %}
                    <td>{{ data.nota_linguagem|safe }}</td>
                  {% endif %}

                  {% if data.nota_estrutura == 0 %}
                    <td>NDA</td>
                  {% else %}
                    <td>{{ data.nota_estrutura|safe }}</td>
                  {% endif %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  
</div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  
  <script>

    let periodo = {}

    {% for key,value in data.periodos.items %}
        periodo['{{ key|safe }}'] = {{value|safe}}
    {% endfor %}

    console.log(periodo)

    
    const ctx = document.getElementById('myChart');
    const ctx2 = document.getElementById('myChart2');
    const ctx3 = document.getElementById('myChart3');
    
    
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Inscritos de LCC', 'Inscritos de SI'],
        datasets: [{
          label: 'Vagas',
          data: [{{ data.alunos_SI|safe }}, {{ data.alunos_LCC|safe }}],
          borderWidth: 1
        }]
      },
      plugins: [ChartDataLabels],
      options: {
        responsive: true,
        aspectRatio: 1,
        plugins: {
          // Change options for ALL labels of THIS CHART
          datalabels: {
              color: 'black',
              font: {
                size: 17
              }
          }
        }
      }
    });



    new Chart(ctx2, {
        type: 'bar',
        data: {
          labels:  ['Total'],
          datasets: [{
            label: 'Vagas',
            data: [{{ data.vagas|safe }},],
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          aspectRatio: 1,
          ticks: {
            min: 0, // it is for ignoring negative step.
            beginAtZero: true,
            precision: 0
          },
        }
    });

    new Chart(ctx3, {
        type: 'bar',
        data: {
          labels: Object.keys(periodo),
          datasets: [{
            label: 'Alunos',
            data: Object.values(periodo),
            borderWidth: 1
          }]
        },
        options: {
            responsive: true,
            aspectRatio: 1,
            ticks: {
              min: 0, // it is for ignoring negative step.
              beginAtZero: true,
              precision: 0
            },
          }
    });
  


    </script>
    


{% endblock %}