.errorlist {
    color: red;
    font-family: italic;
    font-size: 18px;
    list-style-type: "❌ ";
}

/* .listError {
    list-style-type: "⚠️ ";
    color: cadetblue;
    font-weight: bold;
    font-size: 17;
} */

div.form-floating ul {
    list-style-type: "⚠️ ";
    color: #C0C0C0	;
    font-weight: bold;
    font-size: 17;
    font-style: italic;
}

.date {
    padding: 10px;
}

div.alerts-mensage ul {
    font-weight: bolder;;
    color: black;
    font-size: 20px;
    font-family: italic;
} 

.label-form {
    font-weight: bolder;
    font-size: 16px;
}

.teste-container {
    width: 60%;
}