@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* new cards */
.hearth-new {
    display: flex;
    justify-content: space-between;
}

.title-new {
    justify-self: flex-start;
    margin: 0;
}

.title-new h5 {
    margin-bottom: 0;
}

.icon-text {
    justify-self: flex-end;
}

/* end new cards */

.errorlist {
    color: red;
    font-family: italic;
    font-size: 1em;
    list-style-type: "❌ ";
    margin: 0.2em 0 0 0;
}


div.layout ul {
    list-style-type: "☑️ ";
    color: #c0c0c0;
    font-weight: bold;
    font-size: 17;
    /* font-style: italic; */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: bold;
}

.my-info-div {
    margin-top: 2em;

    font-family: 'Roboto';
    
}

.my-info-div span {
    font-weight: bold;
}

.red-color {
    color:red;
    font-size: 1.6em;
}

.white {
    font-size: 1.6em;
}

.my-button-hearth {
    background-color: #f8f9fa;
    height: 24px;
    border: none;
}


.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.div-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hearth {
    display: flex;
    justify-content: space-between;
}

.my-card-title {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}


.my-content span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

span .text-aside {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: bold;
}



.date {
    padding: 10px;
}

div.alerts-mensage ul {
    font-weight: bolder;
    color: black;
    font-size: 20px;
    font-family: italic;
}

.label-form {
    font-weight: bolder;
    font-size: 16px;
}

.teste-container {
    width: 60%;
}


.body-class {
    background-color: #ecf0f1;
}

.error {
    border-bottom: 2px solid red;
}

.form-control.is-invalid:focus {
    box-shadow: none;
}

.my-input-group {
    outline: none;
    border: 0;
    border-bottom: 2px solid #99cc32;
    border-radius: 0;
    display: block;
    line-height: 1.2em;
    font-size: 0.9em;
    padding: 0;
    padding-bottom: 2px;
}

.my-input-group:focus {
    outline: none;
    box-shadow: none;
}

.class-rouder {
    border-radius: 20px;
}

.btn-color {
    background-color: #e9d700;
    color: black;
}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.my-color-theme {
    background-color: #ecf0f1;
}

.mycard-body {
    border-radius: 30px;
    border: 0;
}

.cardbody-color {
    background-color: #dde7f3;
}

a {
    text-decoration: none;
}


.my-card {
    border-radius: 10px;
    height: 19em;
}

.badge {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.color-button-close {
    background: #f7c7c7;
    color: #3a0202;
    vertical-align: middle;
}

.color-button-green {
    background: #bee1be;
    color: #235923;
    vertical-align: middle;
}


.rouded-button {
    border-radius: 9px;
    width: 18em;
}

.button-width {
    width: 11em;
}

.color-body {
    background-color: #FDFDFD;
}


@media (min-width: 360px) { 
    .with-css {
        width: 143px;
    }
    
    .with-css h5 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .my-button-hearth {
        width: 2em;
    }


    .my-card {
        width: 15em;
    }

    .my-margin-card {
        margin-left: 10%;
    }

    .button-width {
        width: 17em;
    }

    .my-dash-button {
        width: 9em;
    }
}

@media (min-width: 417px) {
    .my-card-div {
        width: 20em;
        height: 15.8em;
    }
}

@media (min-width: 577px) { 
    .button-width {
        width: 14.2em;
    }  
}


/* Small devices (landscape phones, less than 768px) */
@media (min-width: 766px) { 
    .button-width {
        width: 11em;
    }  

    .with-css {
        width: 138px;
    }

    .my-card-div {
        width: 18em;
        height: 15.8em;
    }
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) { 
    .button-width {
        width: 8em;
    } 

    .with-css {
        width: 142px;
    }

    .my-card-div {
        width: 18em;
        height: 15.8em;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }
}

@media (min-width: 1189px) {
    .button-width {
        width: 7.4em;
    }    

    *, ::after, ::before {
        box-sizing: border-box;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) { 
    .button-width {
        width: 9em;
        padding: 6px;
    }

    .with-css {
        width: 206px;
    }

    .my-card-div {
        width: 22em;
        height: 15.8em;
    }

    .my-dash-button {
        width: 9em;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }
}
