{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="container">
    <div class="row"></div>
    <div class="row d-flex justify-content-center align-items-center">
        {% for vaga in vagas %}
        <div class="col-sm-10 d-flex justify-content-center align-items-center  col-md-8 col-lg-5 col-xl-4 mb-2">
            <div class="card card-teacher border-0 bg-light rounded mt-4 mb-2">
                <div class="card-body  p-3">
                    {% if vaga.is_closed %}
                    <span class="badge rounded-pill float-md-end mb-3 mb-sm-0 color-button-close">Fechada</span>
                    {% else %}
                    <span class="badge rounded-pill float-md-end mb-3 mb-sm-0 color-button-green">Aberta</span>
                    {% endif %}
                    <div class="with-css">
                        <h5 class="card-title">{{ vaga.tituloVaga}}</h5>
                    </div>
                    <div class="mt-3">
                        <span><strong>Número de Vagas: </strong>{{ vaga.numeroVagas }}</span>
                        
                        {% if vaga.tipo_vaga == 'PP' %}
                        <span class="d-block"><strong>Tipo vaga: </strong>Projeto de Pesquisa</span>
                        {% elif vaga.tipo_vaga == "PE" %}
                        <span class="d-block"><strong>Tipo vaga: </strong>Projeto de Extensão</span>
                        {% elif vaga.tipo_vaga == "ES"%}
                        <span class="d-block"><strong>Tipo vaga: </strong>Estagio</span>
                        {% endif %}
                        <span><strong>Data de cadastro: </strong>{{ vaga.dataCadastro }}</span>
                    </div>

                    <div class="row">
                        <div class="mt-3 col-6 col-md-8 col-lg-6 col-sm-2 my-dash-button">
                            <a href="{% url 'view_vaga' vaga.id %}" class="btn btn-primary button-primary-custom rounded-pill">Visualizar vaga</a>
                        </div>
                        <div class="mt-3 col-6 col-md-8 col-lg-6 col-sm-2 my-dash-button">
                            <a href="{% url 'individual' vaga.id %}" class="btn btn-primary button-primary-custom rounded-pill">Info vaga</a>
                        </div>
                        <div class="mt-3 col-6 col-md-8 col-lg-6 col-sm-2 my-dash-button">
                            <a href="{% url 'change_vaga' vaga.id %}" class="btn btn-primary button-primary-custom rounded-pill">Editar Vaga</a>
                        </div>
                        <div class="mt-3 col-6 col-md-8 col-lg-6 col-sm-2 my-dash-button">
                            <a href="{% url 'delete_vaga' vaga.id %}" class="btn btn-primary button-primary-custom rounded-pill">Deletar vaga</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>


{% include "partials/_paginator.html" %}

{% endblock %}