{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include 'partials/_menu.html' %}
{% include 'partials/_alerts.html' %}

<div class="container">


    {% for vaga in  vagas %}
    <div class="mt-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{ vaga.tituloVaga }}</h5>
            <p class="card-text">{{ vaga.descricao }}</p>
            <a href="{% url 'view_vaga' vaga.id %}" class="btn btn-primary">Ver informacoes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    {% include "partials/_paginator.html" %}

{% endblock %}