{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="container">
    <div class="row"></div>
    <div class="row">
        {% for vaga in vagas %}
        <div class="col-12 col-md-4 mb-2">
            <div class="card border-0 bg-light rounded shadow">
                <div class="card-body p-4">
                    {% if vaga.is_closed %}
                    <span class="badge rounded-pill float-md-end mb-3 mb-sm-0 color-button-close">Fechada</span>
                    {% else %}
                    <span class="badge rounded-pill float-md-end mb-3 mb-sm-0 color-button-green">Aberta</span>
                    {% endif %}
                    <div class="with-css">
                        <h5 class="card-title">{{ vaga.tituloVaga}}</h5>
                    </div>
                    <div class="mt-3">
                        <span><strong>Número de Vagas: </strong>{{ vaga.numeroVagas }}</span>
                        <span class="d-block"><strong>Professor: </strong>{{ vaga.professor }}</span>
                    </div>

                    <div class="row">
                        <div class="mt-3 col-5 col-md-12 col-lg-6 col-sm-6">
                            <a href="{% url 'view_vaga' vaga.id %}" class="btn btn-primary">Visualizar sua vaga</a>
                        </div>
                        <div class="mt-3 col-5 col-md-12 col-lg-6 col-sm-6">
                            <a href="{% url 'view_vaga' vaga.id %}" class="btn btn-primary">Inscrever na vaga</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>


{% include "partials/_paginator.html" %}

{% endblock %}