{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container">

    <div class="d-flex justify-content-center">
        {% for vaga in  vagas %}
        {% comment %} <div class="card mt-4 mx-2" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{ vaga.tituloVaga }}</h5>
            <p class="card-text">{{ vaga.descricao }}</p>
            <a href="{% url 'view_vaga' vaga.id %}" class="btn btn-primary">Ver informacoes</a>
            </div>
        </div> {% endcomment %}
        <div class="card mx-2 mt-3 mb-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ vaga.tituloVaga }}</h5>
              <p class="card-title">Número vagas: {{ vaga.numeroVagas }}</p>
              {% if vaga.nivel == 'B' %}
                    <p>Nivel: Básico</p>
                {% elif vaga.nivel == 'I' %}
                    <p>Nivel: Intermediário</p>
                {% else %}
                    <p>Nivel: Avançado</p>
                {%endif%}
              <a href="{% url 'view_vaga' vaga.id %}" class="card-link">Informacoes</a>
              <a href="{% url 'change_vaga' vaga.id %}" class="card-link">Editar</a>
              <a href="{% url 'delete_vaga' vaga.id %}" class="card-link">Deletar</a>
            </div>
          </div>
        {% endfor %}
    </div>

    
</div> 

    {% include "partials/_paginator.html" %}

{% endblock %}