{% extends 'base.html' %}
{% load static %}
{% block content %}





<div class="container">
    <div class="row"></div>
    <div class="row">
        {% for vaga in vagas %}
        <div class="col-12 col-md-4 mb-2">
            <div class="card card mx-auto border-0 bg-light rounded shadow mt-4 mb-2">
                <div class="card-body p-3">
                    {% if vaga.is_closed %}
                    <span class="badge rounded-pill float-md-end mb-3 mb-sm-0 color-button-close">Fechada</span>
                    {% else %}
                    <span class="badge rounded-pill float-md-end mb-3 mb-sm-0 color-button-green">Aberta</span>
                    {% endif %}
                    <div class="with-css">
                        <h5 class="card-title">{{ vaga.tituloVaga}}</h5>
                    </div>
                    <div class="mt-3">
                        <span><strong>Número de Vagas: </strong>{{ vaga.numeroVagas }}</span>
                        <span class="d-block"><strong>Professor: </strong>{{ vaga.professor }}</span>
                    </div>

                    <div class="row">
                        <div class="mt-3 col-8 col-md-8 col-sm-8 col-lg-6">
                            <a href="{% url 'view_vaga' vaga.id %}" class="btn btn-primary button-width">Visualizar</a>
                        </div>
                        {% if vaga.is_closed %}
                            <div class="mt-3 col-8 col-md-8 col-sm-8 col-lg-6">
                                <a href="{% url 'inscrever_aluno' vaga.id %}"
                                    class="btn btn-primary button-width disabled ">inscrever-se</a>
                            </div>
                        {% elif user.user_is_teacher %}
                            <div class="mt-3 col-8 col-md-8 col-sm-8 col-lg-6">
                                <a href="{% url 'inscrever_aluno' vaga.id %}"
                                    class="btn btn-primary button-width disabled ">inscrever-se</a>
                            </div>
                        {% else %}
                            {% for aluno in vaga.aluno.all %}
                            {% if user_info == aluno %}
                            <div class="mt-3 col-8 col-md-8 col-sm-8 col-lg-6">
                                <a href="{% url 'retirar_inscricao' vaga.id %}"
                                    class="btn btn-danger button-width ">Desinscrever</a>
                            </div>
                            {% endif %}
                            {% empty %}
                            <div class="mt-3 col-8 col-md-8 col-sm-8 col-lg-6">
                                <a href="{% url 'inscrever_aluno' vaga.id %}"
                                    class="btn btn-primary button-width ">inscrever-se</a>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>


{% endblock %}