{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="container">
    <div class="row"></div>
    <div class="row">
        {% for vaga in vagas %}
        <div class="col-12 col-md-4 mb-2">
            <div class="card card mx-auto border-0 bg-light rounded shadow mt-4 mb-2">
                <div class="card-body my-card-2 p-3">
                    {% if vaga.is_closed %}
                    <div class="hearth">
                        {% if user.user_is_teacher %}
                        <button class="my-button-hearth disabled"><i class="fa-solid fa-heart white"></i></button>
                        {% else %}
                        {% for aluno in vaga.aluno.all %}
                        {% if user_info == aluno %}
                            <a href="{% url 'retirar_inscricao' vaga.id %}" class="my-button-hearth"><i class="fa-solid fa-heart red-color"></i></a>
                        {% endif %}
                        {% empty %}
                            <a href="{% url 'inscrever_aluno' vaga.id %}" class="my-button-hearth"><i class="fa-regular fa-heart white"></i></a>
                        {% endfor %}
                        {% endif %}
                        <span class="badge rounded-pill float-md-end mb-3 mb-sm-0 color-button-close">Fechada</span>
                    </div>
                    {% else %}
                    <div class="hearth">
                        {% if user.user_is_teacher %}
                            <button class="my-button-hearth disabled"><i class="fa-solid fa-heart white"></i></button>
                        {% else %}
                        {% for aluno in vaga.aluno.all %}
                        {% if user_info == aluno %}
                            <a href="{% url 'retirar_inscricao' vaga.id %}" class="my-button-hearth"><i class="fa-solid fa-heart red-color"></i></a>
                        {% endif %}
                        {% empty %}
                            <a href="{% url 'inscrever_aluno' vaga.id %}" class="my-button-hearth"><i class="fa-regular fa-heart white"></i></a>
                        {% endfor %}
                        {% endif %}
                        <span class="badge rounded-pill float-md-end mb-3 mb-sm-0 color-button-green">Aberta</span>
                    </div>
                    {% endif %}
                    <div class="mt-3">
                        <h5 class="my-card-title">{{ vaga.tituloVaga}}</h5>
                        <div class="my-content">
                            <span>Número de Vagas <span class="text-aside">{{ vaga.numeroVagas }}</span></span>
                            {% if vaga.tipo_vaga == "PP" %}
                                <span class="">Tipo vaga <span class="text-aside">Projeto de Pesquisa</span></span>
                            {% elif vaga.tipo_vaga == "PP" %}
                            <span>Tipo vaga <span class="text-aside">Projeto de Pesquisa</span></span>
                            {% else %}
                            <span>Tipo vaga <span class="text-aside">Estágio</span></span>
                            {% endif %}
                            <span>Empresa<span class="text-aside">{{ vaga.nome_empresa }}</span></span>
                        </div>
                    </div>

                    <div class="row div-center">
                        <div class="mt-3 col-8 col-md-8 col-sm-8 col-lg-6 div-center-content">
                            <a href="{% url 'view_vaga' vaga.id %}" class="btn btn-primary">Descrição da vaga</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>



{% endblock %}