{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="content-section color-body class-rouder p-3 mt-4 mb-2">

    <div class="container mt-3">
        <section>
            <h1 class="title">{{ vaga.tituloVaga }}</h1>
            <div class="my-info-div">
                {% if vaga.tipo_vaga == "PP" %}
                <h5><span>Tipo vaga:</span> Projeto de Pesquisa</h5>
                {% elif vaga.tipo_vaga == "PE" %}
                <h5><span>Tipo vaga:</span>Projeto de Extensão</h5>
                {% else %}
                <h5><span>Tipo vaga: </span>Estágio</h5>
                {% endif %}
                <h5><span>Data de cadastro: </span>{{ vaga.dataCadastro }}</h5>
                <h5><span>Data de fechamento: </span> {{ vaga.dataFechamento }}</h5>
                <h5><span>Horas seamana:</span>  {{ vaga.horasSemana }}</h5>
                <h5>Número vagas: {{ vaga.numeroVagas }}</h5>
                <h5>valor Salario: R$ {{ vaga.valorSalario }}</h5>
                <h5>Professor: {{ vaga.professor.nomeProfessor }}</h5>
                {% if vaga.nivel == 'B' %}
                    <h5>Nivel: Básico</h5>
                {% elif vaga.nivel == 'I' %}
                    <h5>Nivel: Intermediário</h5>
                {% else %}
                    <h5>Nivel: Avançado</h5>
                {%endif%}
            </div>
            
           
            
            <div class="col-lg-9 col-md-12 col-sm-12" class="with-css">
                <div class="full-width">
                    {{ vaga.descricao|safe }}
                </div>
            </div>
            
        </section>
    </div>
    
</div>
{% endblock %}