{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
    <section class="container col-8">
        <h1>Cadastro</h1>
        <form  method="POST">
            {% csrf_token %}
            {{ form.user.as_hidden }}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                </div>
            {% for error in field.errors %}
                {{ field.errors }}
            {% endfor %}
            {% endfor %}
            <input type="submit" value="Ok" class="btn btn-success mt-2">
        </form>
    </section>
{% endblock %}