{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
{% load widget_tweaks %}

    <div class="content-section shadow-lg p-3 mb-5 bg-white rounded">
        <div class="d-flex justify-content-center teste">
            <form method="POST" class="w-50 ">
                {% csrf_token %}
                <legend class="border-bottom mb-4">Resgitro</legend>
                {% for field in form.visible_fields %}
                <div class="form-floating mb-3">
                    {{ field|add_class:'form-control' }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.help_text %}
                        {{ field.help_text|safe }}
                    {% endif %}
                    {% if field.help_texts %}
                            {{ field.help_texts|safe }}
                    {% endif %}
                </div>
                {%endfor%} 
                {% for error in field.errors %}
                    {{ field.errors }}
                {% endfor %}
                {% comment %} <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Resgitro</legend>
                    {{ form|bootstrap }}
                </fieldset>  {% endcomment %}
                Ao se registrar, você aceita os Termos de Serviço e o Aviso de Privacidade
    
                <div class="form-group">
                    <button class="btn btn-outline-info mb-2" type="submit">Registrar</button>
                </div>
            </form>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Já tem uma conta? <a class="ml-2" href="{% url 'index' %}">Logar</a>
            </small>
        </div>
    </div>
{% endblock content %}